---
title: Secret Sasquatch
js: 
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/css/style.css?v={% version %}"/>
    <link type="text/css" rel="stylesheet" href="/css/loading-bar.css"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    {% block head %}{% endblock %}

    <script src="https://kit.fontawesome.com/21b1ed3e4b.js" crossorigin="anonymous"></script>
    <script src="/common-js/alpine.js?v={% version %}"></script>
    <script src="/common-js/bundle.js?v={% version %}"></script>
    <script type="text/javascript" src="/common-js/loading-bar.js?v={% version %}"></script>
    <script src="/usefulFuncs.js"></script>

    {% if js %}
      <script src="{{ js }}?v={% version %}"></script>
    {% endif %}

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Newsreader&family=Zeyada&display=swap');
    </style>

  </head>
  <body>
    {% include "partials/header.njk" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>