---
layout: body
js: index.js
needsMap: true
extraNav:
  -
    key: New
    url: '#'
    title: Start New Game
    clickFunc: $store.navFunctions.newGameClicked()
  -
    key: Save
    url: '#'
    title: Save Game
    clickFunc: $store.navFunctions.saveGameClicked()
  -
    key: HelpModal
    url: '#'
    title: Help
    clickFunc: $store.modals.toggleModal('help')
  -
    key: FAQModal
    url: '#'
    title: FAQ
    clickFunc: $store.modals.toggleModal('faq')
---
<div x-data>
    {% set modalID = "help" %}
    {% include "partials/modal.njk" %}
</div>
<div x-data>
    {% set modalID = "faq" %}
    {% include "partials/modal.njk" %}
</div>
<div id="game-container" class="w-full" x-data="gameData">
	<div id="time-container">
		{# <div class="section-heading">Time</div> #}
		<div id="day-progress" class="ldBar label-center hide-label" style="width: 100%; height: 100px">
			<i class="fas fa-clock"></i>
		</div>
	</div>
	<div class="flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-2" >
		<div id="sasquatches-container">
			<div class="section-heading">Sasquatches</div>
			<div class="my-2 text-center">
				<span x-text="population.total"></span> / <span x-text="population.max"></span> sasquatches
				{% set tooltipText = "Number of sasquatches currently living in your tribe / the maximum number of sasquatches your tribe can currently house" %}
				{% include "partials/tooltip.njk" %}
			</div>
			<div class="flex justify-center my-2">
				<div class="mx-2">
					<span x-text="numIdle()"></span> idle
					{% set tooltipText = "Number of sasquatches in your tribe that have not currently been assigned a job - everyone should be put to work to maximise your chances of survival!" %}
					{% include "partials/tooltip.njk" %}
				</div>
			</div>
			<div class="w-min m-auto">
				<div class="helper-subheading mt-4 mb-2 text-center">Assign jobs:</div>
				{% for id, def in jobs %}
					<div class="flex items-center my-4">
						<div class="w-28 text-right pr-2">{{ def.name }}</div>
						<div class="flex justify-center items-center">
							{% set tooltipText = def.description %}
							{% include "partials/tooltip.njk" %}
						</div>
						<div class="w-14 text-center" x-text="jobs['{{ id }}']"></div>
						<div class="relative z-0 inline-flex shadow-sm rounded-md">
							<button type="button" @click="changeJob('{{ id }}', 'subtract', 1)" :class="{'disabled': jobs['{{ id }}'] < 1}" x-bind:disabled="jobs['{{ id }}'] < 1" class="change-button decrement-button">
								<i class="fas fa-minus"></i>
							</button>
							<button type="button" @click="changeJob('{{ id }}', 'add', 1)" :class="{'disabled': numIdle() < 1}" x-bind:disabled="numIdle() < 1" class="change-button increment-button">
								<i class="fas fa-plus"></i>
							</button>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="mt-4">
				<div class="my-2 text-center" x-show="population.max - population.total > 0">
					<div>
						{% set tooltipText = "Build housing to increase max population" %}
						{% include "partials/tooltip.njk" %}
						Room for <span x-text="population.max - population.total"></span> more sasquatches
					</div>
					<div>Next sasquatch <span x-text="population.remainingDaysUntilSpawn == 0 ? 'today' : 'in ' + population.remainingDaysUntilSpawn + ' days'"></span></div>
					<div id="spawn-progress" class="ldBar label-center hide-label" style="width: 100%; height: 50px"></div>
				</div>
				<div class="my-2 text-center text-gray-400" x-show="population.max - population.total == 0">
					{% set tooltipText = "Build housing to increase max population" %}
					{% include "partials/tooltip.njk" %}
					No more room for more sasquatches
				</div>
			</div>
		</div>
		<div id="resources-container">
			<div class="section-heading">Resources</div>
			<div class="lg:w-2/3 lg:m-auto">
				{% for resourceTypeId, resourceType in resources %}
					<div class="bg-{{resourceType.colour}} rounded-lg m-4 pb-8 p-4">
						<div class="section-subheading">{{ resourceType.name }}</div>
						<div class="grid grid-cols-3 gap-2 justify-center items-center">
							<div class="text-right font-bold">Total:</div>
							<div class="text-center" x-text="totalResources('{{ resourceTypeId }}')"></div>
							<div class="text-center" :class="{'text-green-600': totalDelta('{{ resourceTypeId }}') > 0, 'text-red-600': totalDelta('{{ resourceTypeId }}') < 0}">
								<i class="text-xs fas" :class="{'fa-arrow-up': totalDelta('{{ resourceTypeId }}') > 0, 'fa-arrow-down': totalDelta('{{ resourceTypeId }}') < 0}"></i>
								<span x-text="totalDelta('{{ resourceTypeId }}') != 0 ? totalDelta('{{ resourceTypeId }}') : '-'"></span>
							</div>
							{% for id, component in resourceType.components %}
								<div class="text-right">
									{% set tooltipText = component.description %}
									{% include "partials/tooltip.njk" %}
									{{ component.name }}:</div>
								<div class="text-center" x-text="resources['{{ id }}']"></div>
								<div class="text-center" :class="{'text-green-600': delta('{{resourceTypeId}}', '{{id}}') > 0, 'text-red-600': delta('{{resourceTypeId}}', '{{id}}') < 0}">
									<i class="text-xs fas" :class="{'fa-arrow-up': delta('{{resourceTypeId}}', '{{id}}') > 0, 'fa-arrow-down': delta('{{resourceTypeId}}', '{{id}}') < 0}"></i>
									<span x-text="delta('{{resourceTypeId}}', '{{id}}') != 0 ? delta('{{resourceTypeId}}', '{{id}}') : '-'"></span>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div id="threat-container">
			<div class="section-heading">Reveal Threat</div>
			<div id="threat-progress" class="ldBar label-center" style="width: 100%; height: 100px"></div>
			<div>
				<template x-for="contribution in threatLevelContributions">
					<div class="text-center">
						<span x-text="contribution.description" class="font-bold"></span>
						<span x-text="contribution.each"></span></div>
				</template>
			</div>
		</div>
		<div id="buildings-container">
			<div class="section-heading">Buildings</div>
			<div class="flex-col lg:mx-14 lg:m-auto">
				{% for id, building in buildings %}
					<div class="grid grid-cols-4 gap-3 items-center my-3" x-data="{ canAfford: { wood: true, metal: true } }">
						<div class="text-right">
							{% set tooltipText = building.description %}
							{% include "partials/tooltip.njk" %}
							{{ building.name }}:</div>
						<div>
							{% for resourceID, cost in building.cost %}
								<div class="text-center" x-effect="canAfford.{{resourceID}} = resources.{{resourceID}} >= {{cost}}" :class="{'text-red-500': !canAfford.{{resourceID}} }">
									{{ cost }}
									{{ resourceID }}
								</div>
							{% endfor %}
						</div>
						<div class="text-center">
							<span x-text="buildings['{{ id }}'] ? buildings['{{ id }}'] : 0"></span> built</div>
						<div class="btn" @click="build('{{ id }}')" :class="{'disabled': !Object.values(canAfford).every((val) => val)}">Build 1</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
