---
layout: body
js: index.js
needsMap: true
eleventyNavigation:
  key: Home
---
<div id="game-container" class="w-full " x-data="gameData()">
	<div id="villagers-container">
		<div class="section-heading">Villagers</div>
	</div>
	<div id="resources-container">
		<div class="section-heading">Resources</div>
	</div>
	<div id="threat-container">
		<div class="section-heading">Reveal Threat</div>
	</div>
	<div id="time-container">
		<div class="section-heading">Time</div>
	</div>
</div>